<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico" />
        <!-- ... -->
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <!-- DevExtreme theme -->
        <link rel="stylesheet" href="https://cdn3.devexpress.com/jslib/23.1.13/css/dx.light.compact.css">

        <link rel="stylesheet" href="css/site.css">
    
        <script src="https://cdn3.devexpress.com/jslib/21.2.15/js/dx.web.js"></script>

        <script> {% include "viewGrid.js" %} </script>

  <title>AdvWrks Demo</title>

    </head>

    <body class="wrapper dx-viewport"><!--dx-viewport-->

        <div class="page-header">
            <div style="float: left; padding: 10px;"><img src="images/demo.png" alt="Demo" width="300" height="53"></div>
            <div style="float: left;"><h1>Order Dashboard</h1></div>
            <div id="myDropDownButton" style="float: right;"></div>
        </div>